$action-color: rgb(195, 0, 83);

%text {
  font-family: 'Hind', Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6em;
}

%link {
  @extend %text;
  font-size: 16px;
  color: $action-color;
  cursor: pointer;
  transition: color 150ms ease;

  &:hover {
    color: color-mod($action-color a(80%));
  }
}

%button {
  display: inline-block;
  background: $action-color;
  border-radius: 0;
  color: #fff;
  border: none;
  appearance: none;
  box-shadow: none;
  font-family: Arial, sans-serif;
  font-size: 28px;
  padding: 0 12px;
  vertical-align: top;
  height: 42px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  transition: background 150ms ease;

  &:not([disabled=true]):hover {
    background: color-mod($action-color a(80%));
  }

  &[disabled=true] {
    cursor: default;
    opacity: .3;
  }
}

%headline {
  @extend %text;

  line-height: 1.2em;
  margin: 0;
  font-size: 24px;
}