@font-face {
  font-family: 'Hind';
  src:
          url("../assets/hind-300.woff2") format("woff2"),
          url("../assets/hind-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}