body {
  margin: 0;

  #question-area {
    position: relative;
    padding-bottom: 66.666%;
    background: #000 url('../assets/gabriel-sollmann-unsplash.jpg');
    background-size: cover;
    overflow: hidden;

    .choice,
    .star {
      position: absolute;
      width: 4vw;
      height: 4vw;
      border: .3vw solid currentColor;
      color: var(--kw-action-color);
      border-radius: 50%;
      margin: -2.3vw 0 0 -2.3vw;

      &.correct {
        color: var(--kw-feedback-positive-color);
      }

      &.partial-correct {
        color: var(--kw-feedback-partial-positive-color);
      }

      &.wrong {
        color: var(--kw-feedback-negative-color);
      }
    }

    .star {
      opacity: 0;
      color: var(--kw-feedback-solution-color);

      &.solution {
        opacity: 1;
      }
    }
  }

  &:not(.deactivated) .choice {
    cursor: pointer;
  }

  .logo {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    pointer-events: none;
  }
}

